<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lkn.a11509.democollection">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialDesign">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerDemoActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".StaggeredMainActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".DefineLoadWithRefreshActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity android:name=".LifeCircleActivity" />
        <activity
            android:name=".RefreshCounterActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".FlowActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".PaletteImageViewActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".VectAlignActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".LineupActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".RecordActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".PagingRecyclerActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".WertVideoActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".VideoRecorderActivity"
            android:theme="@style/Theme.MaterialDesign" />
        <activity
            android:name=".LinRecordActivity"
            android:theme="@style/Theme.MaterialDesign" />
    </application>

</manifest>